@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    src: url("./font/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
